section#home {
	position: relative;
}

h1,h2,h3,h4,h5,h6 {
	letter-spacing: 4px;
}
h2,h5 {
	text-transform: uppercase;
}

/*[alt="My Image"] {
	clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}*/

/*
 *
 * Custom Classes
 *
 */
 .bg {
	background-image: url("../../assets/img/main.jpg");
	background-size: cover;
	background-attachment: fixed;
 }
 .bg-wrapper {
 	background-color: #0017ff42;
 }

 .m-head {
 	margin-top:3rem;
 }

 .job-title {
 	border: 3px solid white;
 	padding: 10px 20px;
 	border-radius: 50px;
 	/*color: blue;*/
 }

 .img-lg-frame {
 	background-color: #00000005;
 	color: white;
 	min-height: 80%;
 	width: 30%;
 	position: absolute;
 	right: 5%;
 	bottom: 10%;
 	z-index: 1;
 	transform: translate(0,0);
 }

 [alt="My Image"] {
 	border-radius: 30px;
 }

 .drop-shadow {
    box-shadow: -11px 13px 18px 4px black;
    border: 3px solid white;
    padding: 10px;
 }

 .footer {
 	position: absolute;
 	min-height: 60%;
 	background: linear-gradient(#000000,red);
 	width: 100%;
 	bottom: 0;
 }
